<!doctype html>
<html ng-app="cs142App" ng-controller="MainController">
  <head>
    <title>{{main.title || "CS142 Class Project"}}</title>
    <script src="node_modules/angular/angular.js"></script>
    <script src="mainController.js"></script>
    <script src="modelData/states.js"></script>
    <!-- For States -->
    <script src="components/states/statesController.js"></script>
    <link rel="stylesheet" type="text/css" href="components/states/states.css" />
    <!-- This is for the overall header -->
    <script src="components/header/headerController.js"></script>
    <link rel="stylesheet" type="text/css" href="components/header/header.css" />
    <!--This is for the example component.-->
    <script src="components/example/exampleController.js"></script>
    <link rel="stylesheet" type="text/css" href="components/example/example.css" />
    <script src="modelData/example.js"></script>
    <!-- for problem5 -->
    <script src="node_modules/angular-route/angular-route.min.js"></script>
  </head>
  <body>
        <!-- This is for the overall header -->
        <div ng-include="'components/header/headerTemplate.html'" ng-controller="HeaderController"></div>
        <p/>
		<button ng-click='main.buttonText = !main.buttonText'>
			<span>{{main.buttonText ? 'Switch to states' : 'Switch to example'}} </span>
		</button>
        <p/>
        
        <div ng-if="main.buttonText===true">
			<div class="header"> {{main.myName}} : {{main.newMotto}} </div>
			<div ng-include="'components/example/exampleTemplate.html'" ng-controller="ExampleController"></div>
		</div>

        <div ng-if="main.buttonText===false"> 
        	<div ng-include="'components/states/statesTemplate.html'" ng-controller="StatesController"></div>
        </div>
  </body>
</html>

